
.newproducts-menu{
    width:1175px;
    /*margin-left: calc( 50vw - 587px );
    margin-bottom: 50px;*/
}

.newproducts-menu-prew{
    cursor: pointer;
}

.newproducts-menu-prew-text{
      font-size: 13px;
      font-family: "Montserrat";
      color: rgb(153, 153, 153);
      font-weight: bold;
      line-height: 1.846;
      float: left;
      margin-left: 10px;
}

.newproducts-menu-next{
    cursor: pointer;
}

.newproducts-menu-next-text{
      font-size: 13px;
      font-family: "Montserrat";
      color: rgb(153, 153, 153);
      font-weight: bold;
      line-height: 1.846;
      float: right;
      margin-right: 10px;
}

.newproducts-menu-label {
  font-size: 16.667px;
  font-family: "Lato";
  font-weight: bold;
  color: rgb(35, 35, 35);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  width: 132px;
  margin-left: 522px;
}

.newproducts-left-space{
    z-index: 100;
    width: calc( 50vw - 587px );
    background-color: white;
    height: 275px;
    margin-top: -4px;
    position: absolute;
}

.newproducts-right-space{
    z-index: 100;
    width: calc( 50vw - 587px );
    background-color: white;
    height: 275px;
    margin-top: -4px;
    position: absolute;
    margin-left: calc( 50vw + 587px );
}

.newproducts{
    position: absolute;
    margin-left: calc( 50vw - 587px );
    height: 275px;
    /*width: 1175px;*/
    display: inline-flex;
}

.newproducts-line{
    height: 275px;
    width: 1175px;
}

.newproducts-item{
    cursor: pointer;
    margin-left: 58px;
    float: left;
    height: 275px;
    width:250px;
}

.newproducts-item-first{
    margin-left: 0 !important;
}

.newproducts-item-img{
    width:250px;
    height:185px;
}

.newproducts-item-type{
    margin-top: 15px;
    font-size: 12px;
    font-family: "Montserrat";
    line-height: 2;
    text-align: center;
}

.newproducts-item-title{
    font-size: 17px;
    font-family: "Montserrat";
    line-height: 1.333;
    text-align: center;
    font-weight: bold;
    width: 215px;
    margin-left: 17px;
}

.type-color-t-shirt{
    color: rgb(127, 159, 93);
}

.type-color-parfume{
    color: #538dc8;
}

.type-color-leather{
    color: #a677c7;
}

.type-color-flowers{
    color:#cd7b87;
}

.newproducts-lightbar-menu{
    margin-left: calc( 50vw - 557px );
    height: 5px;
    width: 1175px;
    margin-top: 365px;
}

.newproducts-lightbar{
    width:250px;
    height: 2px;
    background-color: #dddddd;
    margin-right: 40px;
    float: left;
}
